<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style = "background-color: gray;">
    <header>
        <h1><a href="/">Blog technologiczny</a></h1>
        {% if user.is_authenticated %}
            <p style="text-align: right">Hi <a href="/profile">{{ user }}</a>! <br>
                <a href="/api-authlogout">Logout</a><br>
            <a href="/new_post">Dodaj nowy post</a></p>
        {% else %}
            <p style="text-align: right"><a href="/api-authlogin">Login</a></p>
        {% endif %}
    </header>
    Witaj na swoim profilu! Poniżej zobaczysz swoją aktywność!<br>
    Twoje posty ({{ posts_num }}):
    {% for post in posts %}
        <div style="background-color: cornsilk; border: solid 1px #c7c2ac; padding-left: 25px; padding-right: 25px; margin: 10px 10px 10px 10px; word-wrap: break-word;">
            <h1><a href="/post/{{ post.id }}">{{ post.title }}</a> </h1>
            published: {{ post.published_date }} <br>
            <p style="text-align: right"><a href="/post/delete={{ post.id }}">Delete</a> <a href="/post/edit={{ post.id }}">Edit</a></p>
        </div>
    {% endfor %}
    Twoje komentarze ({{ comments_num }}):
    {% for comment in comments %}
        <div style="background-color: #dedede; border: solid 1px #969696; padding-left: 25px; padding-right: 25px; margin: 10px 10px 10px 10px; word-wrap: break-word;">
            <a href="/post/{{ comment.post.id }}">{{ comment.post }}</a> published: {{ comment.created_date }} <br>
            {{ comment.text|linebreaks }}
        </div>
    {% endfor %}
</body>
</html>